/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: rgb(194, 102, 100);
  background-color: rgb(56, 22, 22);
  border-color: rgb(89, 35, 43);
}

input, select {
  border: 1px solid grey;
  border-radius: 4px;
  height: 2rem;
}

button {
  background-color: #eee;
  border-radius: 4px;
  font-size: 1rem;
  border: transparent;
}

button:hover {
  background-color: #cfd8dc;
  cursor: pointer;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: pointer;
}

label {
  color: #435960;
  font-weight: bold;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

